* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  background: #222;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.shop {
  background: #f4f4f4;
  padding: 50px;
  text-align: center;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.product {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  background: white;
  border-radius: 8px;
}

.product img {
  width: 300px;
  object-fit: contain;
  height: screen;
  padding: 90px 0;
}

.product h3 {
  font-size: 16px;
  margin: 10px 0;
}

.product p {
  font-weight: bold;
  margin-bottom: 10px;
}

.product button {
  padding: 8px 15px;
  border: none;
  background: #ff6600;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.product button:hover {
  background: #e05500;
}

.footer {
  background: #222;
  color: white;
  text-align: center;
  width: 100%;
  height: 30px;
}

.footer__p {
  line-height: 30px;
}
